*{
    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 10px 0;
}

.nav-link {
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ffffff !important;
    background-color: #25D366;
}

.btn-danger {
    background: #ff2f5b;
    border: none;
}

.btn-danger:hover {
    background: #25D366;
}

.big-bold-text {
    font-size: 20px;
    /* adjust size as you like */
    font-weight: bold;
}
}


.hero {
    height: 100vh;
    background: url('./images/gate-view_1.jpg') center/cover no-repeat;
    position: relative;
}

/* Dark overlay */
.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

/* Center text */
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.vision-section {
  background: #f5f6f7;
}

.vision-line {
  width: 50px;
  height: 4px;
  background: #28a745;
  border-radius: 2px;
}

.vision-img-wrapper {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  display: inline-block;
}
.text-muted{
    font-size: xx-large;
    font-weight: 600;
}

.story-section {
  background: #f5f6f7;
}

.story-section img {
  border-radius: 6px;
}
.offer-list{
    line-height: 33px;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    /* bigger size */
    height: 50px;
    /* bigger size */
    border-radius: 50%;
    color: white;
    font-size: 1.8rem;
    /* bigger icon inside */
    text-decoration: none;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}


.whatsapp-float {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 65px;
    height: 65px;
    background: #25D366;
    color: white;
    border-radius: 50%;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: 0.3s;
    text-decoration: none;
}

.whatsapp-float::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #25D366;
    animation: pulse 0.9s infinite;
    z-index: -1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1.7;
    }

    70% {
        transform: scale(0.6);
        opacity: 2;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}
